@import "common.css";

body {
    text-align: center;
}

.background {
    height: 600px;

    background-image: url("/static/img/background.png");
    width: 60vw;
    left: calc((100% - 60vw) / 2);
    right: calc((100% - 60vw) / 2);
    border-radius: 25px;
    background-position: center;
}

.who {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    color: #fff;
}

.who h1 {
    margin-top: 130px;
    font-size: 70px;
}

.who p {
    font-size: 23px;
    width: 500px;
    margin: 0 auto 0 auto;
}

.who .buttons {
    margin-top: 70px;
    font-size: 20px;
}

.philosophyDiv {
    padding: 50px;
    margin: 50px 15vw;
    background-color: #EBEBEB;
}