@font-face {
    font-family: 'Figtree';
    src: url("/static/fonts/Figtree.woff2") format("woff2");
    font-style: normal;
}

h1, h2 {
    font-weight: 600;
}

.button {
    background-color: #1c71d8;
    color: white;
    padding: 0.75em 1.25em;
    border: none;
    border-radius: 25em;
    transition: all 0.3s ease 0s;
}

.button:hover {
    text-decoration: none;
    background-color: #4990e7;
    transition: all 0.3s ease 0s;
}

.unimportant {
    background-color: #EBEBEB;
    color: #000;
    font-weight: 500;
}

.unimportant:hover {
    background-color: #dbdbdb;
}

.subtext {
    color: #1c71d8;
    margin-top: 30px;
    font-weight: 600;
    font-size: 17px;
    left: 0;
    right: 0;
}


body {
    font-family: "Figtree", sans-serif;
    margin: 0;
}

nav {
    background-color: #fff;
    padding: 20px 30px 20px 30px;
}

nav .bar {
    background: #F8FAFC;
    background: -ms-linear-gradient(135deg, #F8FAFC 0%,#DCDCDC 100%);
    background: linear-gradient(135deg, #F8FAFC 0%,#DCDCDC 100%);
    border-radius: 22px;
    display: flex;
    padding: 20px;
}

nav img {
    max-height: 40px;
    max-width: 40px;
    margin: -10px -10px -10px -10px;
}

nav div .links {
    margin: 0 auto 0 auto;
    display: flex;
}

nav div .links a {
    margin: 0 20px 0 20px;
    font-weight: 600;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

.blockContainer {
    display: flex;
    flex-direction: column;
}

.titleBlock {
    background-color: #EBEBEB;
    margin: 0 30px 0 30px;
    padding: 25px 0 25px 25px;
    font-size: 18px;
}

.parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    z-index: -1;
    width: 100%;
}

.subtitle {
    margin-left: 30px;
    font-size: 17px;
}

footer {
    text-align: left;
    background-color: #fff;
    padding: 80px 50px 25px 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 17px;
}

footer a {
    margin: 0 auto 5px 0;
}

footer img {
    margin: 0 auto 10px 0;
    max-height: 100px;
    max-width: 100px;
}

footer .title {
    font-weight: 600;
    margin-bottom: 30px;
    font-size: 20px;
}

footer .disclaimer {
    margin-top: 20px;
    color: #fff;
    background-color: #000;
    padding: 20px 20px 20px 20px;
    border-radius: 10px;
    text-align: center;
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    nav div .links a, footer .title {
        font-weight: lighter;
    }

    h1, h2, .subtext {
        font-weight: bold;
    }
}