@import "common.css";

body {
    text-align: center;
}

.contact p, .contact h2 {
    color: #fff;
}

.contact .buttons {
    margin: 10px;
}

.contact img {
    height: 48px;
    width: 48px;
    margin: 0 auto;
}

.contact {
    background-color: #1c71d8;
    border-radius: 25px;
    margin: 0 15vw 0 15vw;
    padding: 50px;
    display: flex;
    flex-direction: column;
}