@import "common.css";

.background {
    background-image: url("/static/img/skyscrapers.jpg");
    height: 500px;
}

.blockContainer {
    margin-bottom: 50px;
}

body {
    text-align: center;
}

.blockContainer h2, .blockContainer p, .blockContainer a {
    color: #fff;
}

.blockContainer h2 {
    margin-top: 60px;
    font-size: 38px;
    font-weight: 500;
}

.blockContainer p {
    font-size: 20px;
    margin: 20px;
}